<launch>
    <!-- ARGUMENTS -->
    <arg name="use_sim_time" default="false"/>


    <param name="robot_description" 
           command="$(find xacro)/xacro '$(find differential_robot)/robot/robot.xacro'"/>


    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
        <param name="use_sim_time" value="$(arg use_sim_time)"/>
    </node>


    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
        <param name="use_sim_time" value="$(arg use_sim_time)"/>
    </node>


    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find differential_robot)/rviz/robot.rviz" output="screen"/>


    <node name="maze_marker_publisher" pkg="differential_robot" type="lidar_data.py" output="screen"/>
    <node name="simulated_lidar" pkg="differential_robot" type="broad_lidar.py" output="screen"/>
    <node name="maze_navigator" pkg="differential_robot" type="broad_robot.py" output="screen"/>
    <node name="arduino_emulator" pkg="differential_robot" type="arduino.py" output="screen"/>
</launch>
